<div id="{{ id }}">
<div class='field-item'>
    {% if (phones)  %}
      <div class="phone">
          {%  if phones.0.number|length %}
            <a class="tel" href="tel:{{ phones.0.number }}">{{ phones.0.text }}</a>
          {%endif%}
      </div>
    {%endif%}

    {%  if email|length %}
      <div class="email">
        <a href="{{ email_url }}" class="mail-address">{{ email }} </a>
      </div>
    {%endif%}
  </div>
</div>

